$font-family: "Rubik", sans-serif;
$paragraph-font-family: "Open Sans", sans-serif;
$template-color: #38d16a;
$pink-color: #f54ea2;
$blue-color: #151448;
$white-color: #ffffff;
$black-color: #121619;
$paragraph-color: #6084a4;
$bg-gray: #f9f9f9;
$transition: 0.5s;
$font-size: 15px;

/*================================================
Signup CSS
=================================================*/
.signup-form {
	background: $white-color;
	box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
	padding: 40px;
	border-radius: 5px;

	h3 {
		font: {
			size: 22px;
		}
		margin-bottom: 25px;
	}
	form {
		.form-check {
			margin-top: 10px;

			.form-check-label {
				color: $paragraph-color;
			}
		}
		.btn {
			margin: {
				bottom: 20px;
				top: 20px;
			}
		}
		span {
			display: block;
			color: $paragraph-color;

			a {
				color: $template-color;
			}
		}
	}
}

/*================================================
FAQ CSS
=================================================*/
.faq-accordion {
	box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
	padding: 60px;
	background: $white-color;
	border-radius: 10px;

	.accordion {
		border: none;

		.accordion__item {
			display: block;
			margin-bottom: 15px;

			&:last-child {
				margin-bottom: 0;
			}
			.accordion__button {
				display: block;
				padding: 20px 30px;
				text-decoration: none;
				background: #f5f9ff;
				cursor: pointer;
				transition: $transition;
				outline: 0;
				font: {
					size: 20px;
					weight: 500;
				}

				&:hover,
				&.active,
				&:focus {
					background: $template-color;
					color: $white-color;
				}
				&.active {
					border-radius: 0;
				}
			}
			.accordion-content {
				position: relative;
				overflow: hidden;
				padding: 0;
				line-height: 1.9;
			}
		}
		.accordion__item + .accordion__item {
			border: none;
		}
	}
}
.faq-contact {
	margin-top: 45px;
	box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
	padding: 60px;
	border-radius: 4px;

	h3 {
		font: {
			size: 25px;
		}
		margin-bottom: 25px;
	}
	form {
		.btn {
			margin-top: 15px;
		}
	}
}

/*================================================
Coming Soon CSS
=================================================*/
.coming-soon {
	position: relative;
	z-index: 1;
	background: {
		image: url(../../images/coming-soon-banner-min.jpg);
		position: center center;
		size: cover;
		attachment: fixed;
		repeat: no-repeat;
	}
	height: 100vh;
	text-align: center;
	overflow: hidden;

	&::before {
		z-index: -1;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		background: $black-color;
		opacity: 0.9;
		content: "";
		position: absolute;
	}
	.coming-soon-content {
		max-width: 650px;
		margin: 0 auto;

		h1 {
			color: $white-color;
			font: {
				size: 45px;
				weight: 700;
			}
			text-transform: uppercase;
			margin-bottom: 0;
			line-height: 55px;
		}
		h2 {
			color: $white-color;
			font: {
				size: 30px;
				weight: 700;
			}
			white-space: nowrap;
			text-transform: uppercase;
			margin-bottom: 0;
			line-height: 55px;
		}
		p {
			color: #c7c3c7;
			margin: {
				top: 20px;
				bottom: 35px;
			}
			font: {
				size: 15px;
				weight: 500;
			}
		}
		form {
			position: relative;

			.form-control {
				background: transparent;
				border: 1px solid $white-color;
				border-radius: 50px;
				color: $white-color;
				padding-left: 15px;
				height: 55px;

				&:focus {
					border-color: $template-color;
				}
				&::placeholder {
					color: $white-color;
				}
			}
			button {
				position: absolute;
				right: 0;
				height: 100%;
				background: $template-color;
				top: 0;
				color: $white_color;
				border: none;
				width: 130px;
				font-weight: 500;
				cursor: pointer;
				text-transform: uppercase;
				border-radius: 0 50px 50px 0;
				transition: $transition;

				&:hover {
					background: $pink-color;
				}
			}
		}
		#timer {
			margin-bottom: 35px;

			div {
				display: inline-block;
				font: {
					size: 45px;
					weight: 600;
				}
				color: $white-color;
				width: 135px;
				height: 135px;
				border: 1px solid #eeeeee;
				border-radius: 50%;
				padding-top: 34px;
				line-height: 40px;
				margin: 0 5px;
			}
			span {
				display: block;
				font: {
					size: 17px;
					weight: 400;
				}
			}
		}
	}
}

/*================================================
404 Error CSS
=================================================*/
.error {
	background: url(../../images/error.gif) no-repeat center center fixed;
	background-size: cover;
	height: 100vh;
	text-align: center;
	position: relative;
	&::before {
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: #000;
		top: 0;
		left: 0;
		content: "";
		opacity: 0.6;
	}

	h1 {
		font-size: 260px;
		margin: 0;
		color: $white-color;
		position: relative;
	}
	h2 {
		font-size: 30px;
		margin: 0 0 35px;
		color: $white-color;
		position: relative;

		i {
			font-size: 1.5em;
			margin-left: 5px;
			position: relative;
			top: 5px;
		}
	}
}

/*================================================
Footer CSS
=================================================*/
.footer-area {
	position: relative;
	z-index: 1;
	overflow: hidden;
	background: $blue-color; //#08071c;

	.line-bg {
		position: absolute;
		top: -120px;
		right: -100px;
		margin: 0 auto;
		text-align: center;
		left: 0;
		opacity: 0.6;
		z-index: -1;
	}
	.shape18 {
		top: 55%;
		left: 2%;
	}
	.shape21 {
		top: 15%;
		right: 5%;
	}
	.shape7 {
		right: 4%;
		top: 45%;
	}
}
.single-footer-widget {
	.logo {
		a {
			display: block;
		}
		margin-bottom: 17px;
	}
	p {
		margin-bottom: 20px;
		color: $white-color;
	}
	h3 {
		font-size: 22px;
		color: $white-color;
		margin-bottom: 30px;
	}
	ul {
		padding: 0;
		margin: 0;
		list-style-type: none;

		&.social-links {
			li {
				display: inline-block;
				a {
					width: 35px;
					height: 35px;
					line-height: 35px;
					font-size: 15px;
					background: $white-color;
					color: $black-color;
					text-align: center;
					border-radius: 50%;
					margin-right: 6px;
					&:hover {
						background: $template-color;
						color: $white-color;
					}
				}
			}
		}
		&.list {
			li {
				margin-bottom: 12px;
				position: relative;
				padding-left: 15px;

				a {
					color: $white-color;

					&:hover {
						color: $template-color;
					}
				}
				&::before {
					content: "";
					position: absolute;
					left: 0;
					top: 50%;
					width: 8px;
					height: 8px;
					border-radius: 50%;
					background: $template-color;
					margin-top: -4px;
				}
				&:last-child {
					margin-bottom: 0;
				}
			}
		}
		&.footer-recent-post {
			li {
				margin-bottom: 14px;

				a {
					color: $white-color;
					font-weight: 500;

					&:hover {
						color: $template-color;
					}
				}
				span {
					display: block;
					color: $template-color;
					margin-top: 8px;
					font-size: 13px;
				}
				&:last-child {
					margin-bottom: 0;
				}
			}
		}
		&.footer-contact-info {
			li {
				color: $white-color;
				margin-bottom: 12px;
				position: relative;
				padding-left: 25px;
				span {
					margin-right: 5px;
				}
				a {
					color: $white-color;

					&:hover {
						color: $template-color;
					}
				}
				&:last-child {
					margin-bottom: 0;
				}
				i {
					position: absolute;
					color: $template-color;
					left: 0;
					top: 50%;
					margin-top: -8px;
					font-size: 17px;
				}
			}
		}
	}
}
.copyright-area {
	margin-top: 120px;
	border-top: 1px solid #444352;
	padding: {
		top: 30px;
		bottom: 30px;
	}
	p {
		color: $white-color;

		a {
			color: $template-color;

			&:hover {
				color: $pink-color;
			}
		}
	}
}

/*================================================
Go Top CSS
=================================================*/
.go-top {
	position: fixed;
	cursor: pointer;
	bottom: 15px;
	right: 15px;
	font-size: 25px;
	color: $white-color;
	background-color: $template-color;
	z-index: 4;
	// display: none;
	width: 50px;
	text-align: center;
	height: 50px;
	line-height: 50px;
	border-radius: 50%;
	transition: $transition;

	&:hover {
		color: $white-color;
		background: $pink-color;
	}
}
// .modal {
// 	background: #0000004f;
// }
.thank-you-area {
	text-align: center;
	padding: {
		top: 150px;
		bottom: 150px;
	}
	h1 {
		margin-bottom: 15px;
	}
}

/*================================================
Animation CSS
=================================================*/
.item-enter {
	opacity: 0;
}
.item-enter-active {
	opacity: 1;
	transition: opacity 500ms ease-in;
}
.item-exit {
	opacity: 1;
}
.item-exit-active {
	opacity: 0;
	transition: opacity 0ms ease-in;
	display: none;
}


/*================================================
Margin CSS
=================================================*/
/*
This .scss loop will create "margin helpers" and "padding helpers" for use in your web projects.
It will generate several classes such as:
.m-r-10 which gives margin-right 10 pixels.
.m-r-15 gives MARGIN to the RIGHT 15 pixels.
.m-t-15 gives MARGIN to the TOP 15 pixels and so on.
.p-b-5 gives PADDING to the BOTTOM of 5 pixels
.p-l-40 gives PADDING to the LEFT of 40 pixels
The first letter is "m" or "p" for MARGIN or PADDING
Second letter is "t", "b", "l", or "r" for TOP, BOTTOM, LEFT, or RIGHT
Third letter is the number of spacing in pixels. Adjust the amounts generated by editing the $spaceamounts variable below.
*/

$spaceamounts: (
	5,
	10,
	15,
	20,
	25,
	30,
	35,
	40,
	45,
	50,
	75,
	100,
	200
); // Adjust this to include the pixel amounts you need.
$sides: (top, bottom, left, right); // Leave this variable alone

@each $space in $spaceamounts {
	@each $side in $sides {
		.m-#{str-slice($side, 0, 1)}-#{$space} {
			margin-#{$side}: #{$space}px !important;
		}

		.p-#{str-slice($side, 0, 1)}-#{$space} {
			padding-#{$side}: #{$space}px !important;
		}
	}
}

div[disabled] {
	pointer-events: none;
	opacity: 0.2;
}

ul[disabled] {
	pointer-events: none;
	opacity: 0.2;
}
.disable {
	pointer-events: none;
	opacity: 0.2;
}

// Navbar
.nav-item{
	a{
		white-space: nowrap;	
	}
}